/* hero component code  /* Hero Component Styles */
.hero-container {
  min-height: 100vh;
  background-image: url('/images/Banner2.png'); /* Make sure the image is in the 'public/images' directory */
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: left 160px top 240px;
}

  
  .hero-content {
    display: grid;
    height: calc(100vh - 60px); /* Adjust for Navbar height */
    grid-template-columns: 1fr 1fr; /* Default to single column layout */
  }
  
  /*.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }*/
  
  .hero-text {
    font-weight: bold;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
  }

  .hero-main p {
    margin:0;
  }

  .hidden-lg{
    display: none;
  }
  
  /* Responsive design for larger screens (lg and up) */
  @media (max-width: 1024px) {
    .hero-container {
      background-size: 50%;
      background-position: center;
    }
  
    .hero-content {
      grid-template-columns: 1fr ;
      text-align: left;
      
    }
  
    .hero-text {
      font-size: 3 rem;
    }
  }

  @media (min-width: 1024px) {
    .hero-content {
      grid-template-columns:repeat(1fr , 2fr)
    }

    .hidden-lg{
      display: block;
    }
  }
  
   