body {
    color: hsl(0, 0%, 100%); /* White text color */
    background-color: #131342; /* Dark background color */
}

/* Components layer */
.menulink {
    cursor: pointer; /* Makes the cursor a pointer on hover */
}

.menulink:hover {
    color: #f2f26a; /* Changes text color on hover */
}

/*ABOUT CSS*/
/* Container for About section */
.about-container {
    padding-top: 8rem; /* Equivalent to pt-32 (32 * 0.25rem) */
    max-width: 1300px;
    margin: 0 auto;
}
